<!DOCTYPE html>
<html lang="sp">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Bazar, Merceria, Utiles Escolares">
  <meta name="author" content="">

  <% include partials/_head%>
 
</head>

<body>

  <!-- Navigation -->  
  <% include partials/navigation%>    
    
  <!-- Page Content -->
  <div class="container">

    <div class="row">

        <%include partials/categorias.ejs%>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
              <a href="#"><img class="card-img-top" src="img/bazar1.jpg" alt=""></a>

              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Juguetes Varios</a>
                </h4>
                <!--<h5>$24.99</h5>-->
                <p class="card-text">
                  Ni単as y Ni単os.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="img/bazar2.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Juguetes Varios</a>
                </h4>
                <!--<h5>$24.99</h5> -->
                <p class="card-text">Ni単os</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="img/bazar3.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Juguetes Varios</a>
                </h4>
                <!--<h5>$24.99</h5> -->
                <p class="card-text">
                  Ni単as</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">              
              <a href="#"><img class="card-img-top" src="img/bazar4.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Bandoleras</a>
                </h4>
                <!--<h5>$24.99</h5>-->
                <p class="card-text">
                  Varios Modelos</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">              
              <a href="#"><img class="card-img-top" src="img/foto5_700x400.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Varios</a>
                </h4>                
                <p class="card-text">
                  Escolares, jugueterias...
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="img/foto6_700x400.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Pisando diferente</a>
                </h4>               
                <p class="card-text">Calzados sobre pedidos</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!--
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; armakaisen 2019</p>
    </div> 
    
  </footer> -->

  <!-- Bootstrap core JavaScript 
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
<% include partials/_scriptcdn%>
</body>

</html>
