<div class="col-lg-3">

        <h1 class="my-4"><%= categoria%></h1>
        <div class="list-group">
          <a href="/" class="list-group-item">Boutique</a>
          <a href="/bazar" class="list-group-item">Bazar</a>
          <a href="/escolar" class="list-group-item">Escolar</a>
        </div>

</div>